<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>

    <!-- Verification Tags -->
    <meta name="mastodon" rel="me" content="https://suncoast.dev/@chris" />

    <!-- SEO -->
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">

    <!-- Icons -->
    <link rel="icon" href="{{ '/img/favicon.png' | url }}">

    <!-- Preload -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://kit.fontawesome.com" crossorigin />
    <link rel="preconnect" href="https://plausible.io" crossorigin />

    <!-- Analytics -->
    {% if site.environment === 'production' %}
    <script async defer data-domain="chrislagasse.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}

    <!-- Styles -->
    {% if site.environment === 'production' %}
    <!-- INLINE CSS-->
    {% else %}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {% endif %}
  </head>
  <body>
    <div class="container">
      <!-- intermediary wrapper -->
      <aside class="sidebar">
        <div class="sidebar__content">
          <div class="logo">
            <img src="{{ '/img/magpie-circle.png' | url }}" alt="logo of a magpie with blue highlights" />
            <span>Chris Lagasse</span>
          </div>
          <div class="icons">
            <a href="https://github.com/soben" rel="noopener" target="_blank" aria-label="Github">
              <i class="fab fa-github-square" alt="github"></i>
            </a>
            <a href="https://www.linkedin.com/in/chris-lagasse" rel="noopener me" target="_blank" aria-label="Linkedin">
              <i class="fab fa-linkedin" alt="linkedin"></i>
            </a>
            <a href="https://suncoast.dev/@chris" rel="noopener me" target="_blank" aria-label="Mastodon">
              <i class="fab fa-mastodon" alt="mastodon"></i>
            </a>
            <a href="mailto:chrislagasse@protonmail.com" aria-label="E-Mail">
              <i class="fas fa-envelope-square" alt="email"></i>
            </a>
          </div>
        </div>
      </aside>
      <div class="main {% if templateClass %}{{ templateClass }}{% endif %}">
        <div class="main__content">
          <main class="wysiwyg">
            {{ content | safe }}
          </main>
        </div>
      </div>
    </div>

    <!-- Font Awesome -->
    <script async src="https://kit.fontawesome.com/d5ace7fa38.js" defer></script>

    <!-- Current Page: {{ page.url | url }} -->
    <!-- Environment: {{ site.environment }} -->
  </body>
</html>
