<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="icon" href="{{ '/img/favicon.png' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="https://kit.fontawesome.com/d5ace7fa38.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <div class="container">
      <!-- intermediary wrapper -->
      <aside class="sidebar">
        <div class="sidebar__content">
          <div class="logo">
            <img src="{{ '/img/magpie-circle.png' | url }}" alt="logo of a magpie with blue highlights" />
            <span>Chris Lagasse</span>
          </div>
          <div class="icons">
            <a href="https://github.com/soben" rel="me" target="_blank">
              <i class="fab fa-github-square" alt="github"></i>
            </a>
            <a href="https://www.linkedin.com/in/chris-lagasse" rel="me" target="_blank">
              <i class="fab fa-linkedin" alt="linkedin"></i>
            </a>
            <a href="https://www.instagram.com/soben" rel="me" target="_blank">
              <i class="fab fa-instagram" alt="instagram"></i>
            </a>
            <a href="https://twitter.com/soben" rel="me" target="_blank">
              <i class="fab fa-twitter-square" alt="twitter"></i>
            </a>
            <a href="mailto:chrislagasse@protonmail.com">
              <i class="fas fa-envelope-square" alt="email"></i>
            </a>
          </div>
          {# <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
          </ul> #}
        </div>
      </aside>
      <div class="main {% if templateClass %}{{ templateClass }}{% endif %}">
        <div class="main__content">
          <main class="wysiwyg">
            {{ content | safe }}
          </main>
        </div>
      </div>
    </div>

    {% if includeSyntaxHighlighter %}
      <script src="{{ '/js/vendor/highlight.js' | url }}"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
