---
layout: layouts/homepage.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="intro">
  <h1>Hey, I'm Chris Lagasse</h1>
  <p>Programmer, Beer Nerd, Cyclist, Dad... I do it all, and not in that order.</p>
</section>

<div class="two-col">
  <section class="bio">
    <p>
    <p>Experienced Web Developer with a demonstrated history of working in the marketing and advertising industry. Skilled in PHP, WordPress, ExpressionEngine, MVCs, and general knowledge in other PHP Frameworks. Also experienced in Javascript, Vue, HTML, CSS, API Integrations, and more. Published popular WordPress plugin involving API integration of Gravity Forms into HubSpot. Strong engineering professional with a Bachelor of Sciences focused in Computer Science with a minor in Mathematics.</p>
  </section>

  <section class="blog-posts">
    <h2>Read</h2>

    {% set postslist = collections.posts %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

  </section>
</div>

<section class="uses">
</section>

