---
layout: layouts/main.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<h1>Robot 1-X, save my friends! And Zoidberg!</h1>
<p>Fry, we have a crate to deliver. Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans! Really?! Bender, you risked your life to save me!</p>
<p>But I've never been to the moon! Actually, that's still true. Uh, is the puppy mechanical in any way? <strong> That's right, baby.</strong> <em> I ain't your loverboy Flexo, the guy you love so much.</em> You even love anyone pretending to be him!</p>
<h2>Hello Morbo, how's the family?</h2>
<p>Fry, we have a crate to deliver. Ooh, name it after me! Say it in Russian! Have you ever tried just turning off the TV, sitting down with your children, and hitting them?</p>
<ol>
<li>Calculon is gonna kill us and it's all everybody else's fault!</li><li>Why yes! Thanks for noticing.</li><li>Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be…</li>
</ol>

<h3>Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry?</h3>
<p>Have you ever tried just turning off the TV, sitting down with your children, and hitting them? OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. Ummm…to eBay?</p>
<ul>
<li>No! Don't jump!</li><li>I guess because my parents keep telling me to be more ladylike. As though!</li><li>I just told you! You've killed me!</li>
</ul>

<p>Daylight and everything. Interesting. No, wait, the other thing: tedious. Really?! Are you crazy? I can't swallow that. Meh. Tell her you just want to talk. It has nothing to do with mating.</p>
<p>Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts! We can't compete with Mom! Her company is big and evil! Ours is small and neutral! Please, Don-Bot… look into your hard drive, and open your mercy file!</p>
<p>Kif might! Say what? Why would I want to know that? I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions?</p>
<p>Quite possible. We live long and are celebrated poopers. We don't have a brig. Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!</p>
<p>Ow, my spirit! And I'm his friend Jesus. Five hours? Aw, man! Couldn't you just get me the death penalty? In our darkest hour, we can stand erect, with proud upthrust bosoms. Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase.</p>
<p>Or a guy who burns down a bar for the insurance money! Yeah, lots of people did. You wouldn't. Ask anyway! Tell them I hate them. The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate.</p>
<p>And I'd do it again! And perhaps a third time! But that would be it. Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence. That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</p>
<p>For example, if you killed your grandfather, you'd cease to exist! Bite my shiny metal ass. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! Oh yeah, good luck with that.</p>
<p>Um, is this the boring, peaceful kind of taking to the streets? No! The cat shelter's on to me. Moving along… Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo!</p>
<p>Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry? I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense. What are you hacking off? Is it my torso?! 'It is!' My precious torso!</p>
<p>Soothe us with sweet lies. Then we'll go with that data file! Robot 1-X, save my friends! And Zoidberg! You mean while I'm sleeping in it? That's not soon enough!</p>
