---
layout: layouts/homepage.njk
---

<section class="intro">
  <div class="section__inner">
    <h1>Hey, I'm <span>Chris Lagasse.</span></h1>
    <br/>
    <p>I'm a diversified <em>programmer</em>, focused primarily on PHP and Javascript. When not coding, you can usually find me <em>cycling</em>, drinking local <em>craft beer</em>, and being a great <em>dad</em>, all while living in beautiful Palm Harbor, Florida.</p>
  </div>
</section>

<div class="two-col">
  <section class="bio">
    <div class="section__inner">
      <p>Currently working at <a href="https://happycog.com" rel="noopener" target="_blank">Happy Cog</a>, I've been building websites, plugins, api integrations, and apps on the web since 2001.</p>
      <p>If you're interested in what I do, or have any questions, <a href="mailto:{{ metadata.author.email }}">reach out to me</a>.</p>
    </div>
  </section>

  <section class="blog-posts">
    <div class="section__inner">
      <h2>Read</h2>

      {% set postslist = collections.posts | reverse | head(3) %}
      {% set postslistCounter = postsList | length %}
      {% include "partials/postslist.njk" %}

      <p class="more"><a href="/posts">view all posts <i class="fas fa-arrow-to-right"></i></a></p>
    </div>
  </section>
</div>

