// Color Palette
$white: #f8f9f7;
$black: #25282d;
$dark-blue: #375375;
$light-blue: #7d98ac;
$red: #b64d46;

// Fonts
$serif: "Kadwa", serif;
$sans-serif: "Roboto", sans-serif;
$monospace: "Source Code Pro", monospace;

// Spacing
$default-spacing: 3rem;

// Sizes
$desktop: 950px;
$mobile: 505px;
