@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

@import "vendor/reset";
@import "vendor/wysiwyg";
@import "vendor/highlight";

* {
  box-sizing: border-box;
}

@import "_variables";
@import "_mixins";
@import "_layout";

// Theme Colors and General Styling
body {
  @include background(0.08);

  color: $black;
  font-family: $sans-serif;

  a,
  a:visited {
    color: $red;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    color: $light-blue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    font-family: $serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

// Wysiwyg Overrides
.wysiwyg blockquote {
  border-left-color: $red;
  background-color: rgba($white, 0.5);
}

.wysiwyg p code {
  background-color: rgba($light-blue, 0.33);
  font-family: $monospace;
  border-radius: 3px;
  vertical-align: baseline;
  padding: 0.05rem 0.1rem;
}

// Code Highlighting Overrides
pre {
  background-color: $black;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

// Common Elements
.pagination {
  margin-top: 3rem;
}

// Generic Pages
.container .main.tmpl-page {
  padding: 3rem;
}

// Sections
@import "sections/sidebar";

// Pages
@import "pages/homepage";
